@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Damion);.hero-foot {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.bottom-section {
  margin-top: 50px;
}

.hero {
  background-color: red;
}

h1.title {
  font-family: "Damion", sans-serif;
  font-size: 80px;
  color: #515151;
  text-align: center;
}

h2.subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: thistle;
  font-size: 20px;
}

#logo {
  width: 100%;
  fill: #515151;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

div.navbar-start {
  margin-top: 25px;
}

.anchor {
  margin-top: 20px;
}

.map {
  width: 250px;
  margin-top: 50px;
}

#East_Harlem:hover,
#Morningside_Heights:hover,
#Upper_West_Side:hover,
#Central_Park:hover,
#Harlem:hover,
#Upper_East_Side:hover,
#Lenox_Hill:hover,
#Hell_s_Kitchen:hover,
#Theater_District:hover,
#Midtown:hover,
#Chelsea:hover,
#Nomad:hover,
#Kips_Bay:hover,
#West_Village:hover,
#Greenwich_Village:hover,
#East_Village:hover,
#Soho_ChinaTown_Tribeca:hover,
#Lower_East_Side:hover,
#Financial_District:hover {
  cursor: pointer;
  fill: orange;
}

div.container.mapposition {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  margin-left: 50px;
  margin-right: 0px;
}

.photoview {
  width: 72%;
  height: 950px;
}

.textt {
  height: 700px;
}

.mapClick {
  fill: thistle;
}

.card {
  width: 28%;
  height: 230px;
}

.photocontainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  height: 800px;
  overflow: scroll;
}

.photocontainer > .card {
  margin: 20px;
}

.content p {
  font-family: "Damion", sans-serif;
  text-align: right;
  margin-right: 5px;
  height: 40px;
}

.nophotos {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.nophotos h1 {
  font-size: 40px;
  font-family: "Damion", sans-serif;
}

.nophotos h2 {
  font-size: 45px;
  font-family: "Nunito", sans-serif;
}

.nophotos svg {
  width: 150px;
}

.modalformat {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.modal-card-body {
  font-family: "Damion", sans-serif;
  font-size: 18px;
}

.signupbody {
  height: 900px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.signupcontainer {
  background-image: url(/images/map_lines-04_optimized2.svg?fd20ff9214a382a409bb5bc34d575a1f);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.loginbody {
  height: 900px;
}

.logincontainer {
  background-color: #515151;
}

.aboutbody {
  height: 900px;
}

.sigupbox {
  margin-top: 100px;
  height: 460px;
  background-color: #515151;
  width: 40%;
  border-radius: 3%;
}

.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
}

.createphoto {
  background-color: #515151;
}

.formpositon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
}

form {
  width: 48%;
  border-right: 1px dashed #f2f1f1;
}

figure .imageform {
  width: 50%;
}

.imageform > img {
  height: 400px;
  margin-left: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.message-header h1 {
  font-family: "Damion", sans-serif;
  font-size: 30px;
}

.control label {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

